.flexBoxColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: center;
    height: 60vh;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.buttonWrapper {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.inputWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.signup {
    color: #2962ef;
    cursor: pointer;
    margin-left: 4px;
}

.signupText {
    font-size: 14px;
}

.errorText {
    font-size: 14px;
    color: red;
}

.textButton {
    cursor: pointer;
    background-color: rgb(29, 105, 191);
    height: 30px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    font-size: 16px;
}

.loginButton {
    cursor: pointer;
    background-color: rgb(29, 105, 191);
    width: 200px;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    font-size: 16px;
}
