.container {
    margin: 80px 160px;
}

.tableTitle {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tableHeader {
    display: flex;
    gap: 80px;
    font-size: 16px;
    padding: 12px;
    border: 1px solid lightgrey;
}

.rows {
    display: flex;
    flex-direction: column;
}

.row {
    border: 1px solid lightgrey;
    border-top: none;
    padding: 0px 12px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.actions {
    display: flex;
    gap: 8px;
    width: 96px;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
}

.button svg:hover {
    cursor: pointer;
    fill: aquamarine;
}

.button-disabled {
    fill: lightgrey;
    display: flex;
    align-items: center;
}

.delete-button {
    display: flex;
    align-items: center;
}

.delete-button svg:hover {
    cursor: pointer;
    fill: red;
    display: flex;
    align-items: center;
}

.input-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.input-wrapper input {
    height: 25px;
    border: none;
    border-bottom: 1px lightgrey solid;
    width: 250px;
}

.input-wrapper input:focus {
    height: 25px;
    outline: none;
    border-bottom: 1px blue solid;
    width: 250px;
}

.input {
    cursor: pointer;
    margin-left: 10px;
    min-width: 20px;
}

.button-ok {
    cursor: pointer;
}

.buttonGroup {
    display: flex;
}

.textButton {
    cursor: pointer;
    background-color: rgb(29, 105, 191);
    height: 30px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    font-size: 16px;
}
